<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="<%PUBLIC_URI%>/assets/style.css" />
    <title><%title%></title>
  </head>

  <body>
    <%content%>

    <footer>
      <p>
        released into public domain.
      </p>
    </footer>
  </body>
</html>
